* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #607183;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 0 10px;
}

.card {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
  padding: 35px 40px 30px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: all .3s ease-in-out;
  max-width: 1200px;
  margin: 40px auto;

  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
  }

  &__foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-img {
      width: 254px;
      height: 254px;
    }

    &-button {
      color: #fff;
      font-weight: 500;
      background: #7f90a2;
      border: none;
      cursor: pointer;
      border-radius: 3px;
      outline: none;
      padding: 11px 10px;
      margin-top: 25px;
      min-width: 170px;
      text-transform: uppercase;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    &-name {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: flex-start;
      width: 100%;

      .name__text {
        color: #002a50;
        font-size: 18px;
        font-weight: 700;
        margin-right: 70px;
      }

      .nick__text {
        font-size: 16px;
      }
    }

    &-rating {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      margin-bottom: 25px;
      width: 100%;
      justify-content: space-between;
    }

    &-button {
      padding: 11px 10px;
      background: #ffbd00;
      border: none;
      cursor: pointer;
      outline: none;
      border-radius: 3px;
      color: #fff;
      text-transform: uppercase;
      min-width: 170px;
    }
  }
}

.rating {

  &__box {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    &-number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      border: 1px solid #ffb500;
      font-size: 28px;
      color: #003459;
    }

    &-number_color {
      color: #ffb500;
    }

    &-text {
      margin-top: 15px;
      font-size: 16px;
    }
  }
}
